{
	"trailingComma": "es5",
	"bracketSameLine": true,
	"bracketSpacing": false,
	"jsxBracketSameLine": true,
	"arrowParens": "avoid",
	"tabWidth": 3,
	"semi": false,
	"singleQuote": false,
	"printWidth": 100,
	"singleAttributePerLine": true,
	"embeddedLanguageFormatting": "auto",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"jsxSingleQuote": false,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"organizeImportsSkipDestructiveCodeActions": true,
	"attributeGroups": ["^class$", "^(id|name)$", "", "^aria-"],
	"attributeIgnoreCase": false,
	"attributeSort": "ASC",
	"useTabs": false,
	"vueIndentScriptAndStyle": false,
	"tailwindConfig": "./tailwind.config.js",
	"plugins": [
		"prettier-plugin-organize-imports",
		"prettier-plugin-organize-attributes",
		"prettier-plugin-tailwindcss"
	],
	"pluginSearchDirs": false
}
